// Colors
$primary-color: rgba(5, 7, 60, 1);
$secondary-color: rgba(255, 255, 255, 1);
$accent-color: rgba(235, 102, 43, 0.15);
$background-color: #05073c;

// Font
$font-family: 'Inter', sans-serif;

// Dimensions
$container-width: 1320px;
$button-font-size: 14.53px;
$button-font-weight: 400;
